Options +FollowSymLinks
RewriteEngine on
RewriteCond %{REQUEST_URI} ^/(data)/
RewriteRule . - [S=1] #skip the next 3 rules if the RewriteCond match
RewriteRule ([^/]*)/?$ index.html?board=$1 [NC,L,QSA]