@import url(http://fonts.googleapis.com/css?family=Marcellus);
@import url(http://fonts.googleapis.com/css?family=Molle:400italic);

a {
text-decoration:none; color:inherit;
}
body,html {
width:100%; font:normal 16px 'Marcellus'; color:#f0f0f0; z-index:998;
}
body {
background:rgb(44,47,46); font:normal 16px 'Marcellus',sans-serif; position:relative; overflow-x:hidden;
}

#top {
width:100%; height:50px; background:rgba(28,30,29,1); border-bottom:1px solid rgba(0,0,0,0.9); position:relative; z-index:998;
box-shadow:0 1px 1px rgba(0,0,0,0.7); -moz-box-shadow:0 1px 1px rgba(0,0,0,0.7); -o-box-shadow:0 1px 1px rgba(0,0,0,0.7); -ms-box-shadow:0 1px 1px rgba(0,0,0,0.7); -webkit-box-shadow:0 1px 1px rgba(0,0,0,0.7);
}
	#about {
	right:10px; background-position:-133px 0; opacity:0.85;
	}
		#about:hover {
		opacity:1.0;
		}
	#back {
	left:10px; background-position:-190px 0;
	}
	#brand {
	width:250px; padding:3.4px 0 0 0; text-align:center; margin:0 auto 0 auto; font-style:italic; font-family:'Molle'; font-size:1.7em; color:rgb(222,222,222);
	cursor:default; display:block; vertical-align:middle; text-shadow:0 -1px 0 rgb(0,0,0); position:relative;
	}
	#lock {
	left:10px; background-position:-33px -3px;
	}
	#unlock {
	left:10px; background-position:-82px 0;
	}
	#upload {
	right:10px; background-position:10px -2px;
	}
#wrapper {
width:100%; margin:0 auto 0 auto; position:relative;
}
	#Pictre-wrapper {
	width:100%; display:block; margin:2% auto 0 auto; position:relative; min-height:80%;
	}
	#Pictre-spotlight-wrapper {
	width:100%; min-height:100%; margin:60px auto 0 auto; position:absolute; top:98px; display:block;
	}
		#Pictre-spotlight-wrapper-comments {
		position:absolute; width:500px; min-height:10px; display:none; border-width:1px; border-style:solid;
		border-color:transparent transparent rgb(61,65,65) transparent;
		}
			#Pictre-spotlight-wrapper-comments .comment {
			width:100%; min-height:45px; border-top:1px solid rgb(19,19,19); border-bottom:1px solid rgb(0,0,0); position:relative; font-size:0.95em; background:rgb(34,36,36);
			border-left:1px solid rgb(22,23,23); border-right:1px solid rgb(22,23,23);
			}
				#Pictre-spotlight-wrapper-comments .comment input {
				width:100%; padding:0; text-align:center; font:inherit; color:inherit; margin:0; background:transparent; border:0; text-shadow:inherit;
				}
				#Pictre-spotlight-wrapper-comments .comment p {
				width:100%; height:32px; position:relative; text-align:center; padding:20px 0 8px 0; display:block; border-top:1px solid rgb(22,23,23);
				color:rgb(152,158,158); text-shadow:0 -1px 0 rgb(0,0,0);
				box-shadow:inset 2px -2px 6px rgb(19,19,19); -moz-box-shadow:inset 2px -2px 6px rgb(19,19,19); -webkit-box-shadow:inset 2px -2px 6px rgb(19,19,19); -o-box-shadow:inset 2px -2px 6px rgb(19,19,19); -ms-box-shadow:inset 2px -2px 6px rgb(19,19,19);
				}
				#Pictre-spotlight-wrapper-comments .comment .author {
				width:100%; height:17px; position:relative; text-align:center; padding:6px 0 10px 0; font-size:0.95em; text-align:center; background:rgb(52,56,55);
				border-top:1px solid rgb(69,69,69); color:rgb(126,133,133); text-shadow:0 -1px 0 rgb(3,4,4);
				}
		#Pictre-spotlight-wrapper-pic {
		width:191px; min-height:5px; padding:12px 12px 9px 12px; background:rgb(34,36,36); position:absolute; border-radius:1px; display:table;
		border-width:2px 1px 1px 2px; border-style:solid; border-color:rgb(23,24,24) rgb(23,24,24) rgb(60,64,64) rgb(23,24,24); text-align:center; float:left;
		box-shadow:inset 0 -1px 0 rgb(23,24,24); -moz-box-shadow:inset 0 -1px 0 rgb(23,24,24); -o-box-shadow:inset 0 -1px 0 rgb(23,24,24); -webkit-box-shadow:inset 0 -1px 0 rgb(23,24,24);
		-ms-box-shadow:inset 0 -1px 0 rgb(23,24,24);
		}
			#Pictre-spotlight-wrapper-pic p {
			display:table-cell; text-align:center; vertical-align:middle;
			}

.brand {
font-weight:normal; font-style:italic; font-family:'Molle'; margin-right:4px;
}
.Pictre-notice {
width:100%; display:block; margin:0 auto 0 auto; position:absolute; min-height:18px; padding:11px 0 7px 0; text-align:center; top:50px; left:0;
background:rgb(6,54,92); border-bottom:1px solid rgba(8,68,116,0.6); font-size:0.9em; color:rgb(126,133,133); text-shadow:0 -1px 0 rgb(3,4,4);
box-shadow:0 1px 0 rgba(3,26,24,0.8); -moz-box-shadow:0 1px 0 rgba(3,26,24,0.8); -o-box-shadow:0 1px 0 rgba(3,26,24,0.8); -webkit-box-shadow:0 2px 0 rgba(3,26,24,0.8); -ms-box-shadow:0 1px 0 rgba(3,26,24,0.8);
}
	.Pictre-notice-extra {
	max-width:52px; position:absolute; right:12px; text-align:right; top:12px; overflow-x:hidden;
	}
.Pictre-home-wrapper {
width:65%; height:30%; margin:0 auto 0; position:absolute; left:0; top:10%; text-align:center; min-height:240px; z-index:997;
}
	.Pictre-home-wrapper-about {
	width:60%; color:rgb(131,147,147); text-shadow:0 -1px 0 rgb(0,0,0); margin:10% auto 50px auto; clear:left; display:block;
	}
		.Pictre-home-wrapper-about span {
		display:block; margin-top:25px; font-size:1.1em;
		}
	.Pictre-home-container {
	width:80%; height:100%; background:rgba(28,30,29,1) url(i/Pictre-wall.png) no-repeat center 10%; margin:0 auto 0; text-align:center; text-shadow:0 -1px 0 rgb(0,0,0);
	border:1px solid rgba(0,0,0,0.3); border-radius:4.5px; display:table;
	box-shadow:0 2px 0 rgba(0,0,0,0.6); /*-moz-box-shadow:inset 2px 1px 7px rgb(6,7,6); -o-box-shadow:inset 2px 1px 7px rgb(6,7,6); -ms-box-shadow:inset 2px 1px 7px rgb(6,7,6); -webkit-box-shadow:inset 2px 1px 7px rgb(6,7,6);*/
	}
		.Pictre-home-container p {
		display:table-cell; vertical-align:bottom; text-align:center; padding-bottom:20px; font-size:1.5em; height:90%; width:100%; color:rgb(145,159,159); position:relative;
		}
			.Pictre-home-container p input {
			border:0; padding:0; background:transparent; font:inherit; color:inherit; text-align:center; width:100%; display:inline-block;
			}
.Pictre-empty {
margin:0 auto 0; position:absolute; left:41%; top:30%; width:250px; height:100px; text-align:center; text-shadow:0 -1px 0 rgb(0,0,0); color:rgb(126,133,133);
}
.Pictre-loader-wrapper {
width:45%; height:5px; background:rgb(44,44,44); position:absolute; border-radius:3px; border-bottom:1px solid rgb(56,56,56); border-top:1px solid rgb(31,31,31);
box-shadow:inset 1px 1.5px 3px rgb(18,18,18); -moz-box-shadow:inset 1px 1.5px 3px rgb(18,18,18); -o-box-shadow:inset 1px 1.5px 3px rgb(18,18,18); -webkit-box-shadow:inset 1px 1.5px 3px rgb(18,18,18); -ms-box-shadow:inset 1px 1.5px 3px rgb(18,18,18);
}
	.Pictre-loader-progress {
    width:0; height:100%; position:absolute; left:0; top:0; background:rgb(82,82,82); border-radius:inherit;
    box-shadow:inset 0 1px 5px rgb(57,57,57) -moz-box-shadow:inset 0 1px 5px rgb(57,57,57) -o-box-shadow:inset 0 1px 5px rgb(57,57,57) -ms-box-shadow:inset 0 1px 5px rgb(57,57,57) -webkit-box-shadow:inset 0 1px 5px rgb(57,57,57);
	}
.Pictre-pic {
width:190px; min-height:5px; padding:12px 10px 9px 10px; background:transparent/*rgb(34,36,36)*/; margin:11px; position:absolute; border-radius:2.5px;
border-width:2px 1px 1px 2px; border-style:solid; border-color:transparent/*rgb(23,24,24)*/; text-align:center; float:left;
box-shadow:inset 1px 1px 10px transparent; -moz-box-shadow:inset 1px 1px 10px transparent; -o-box-shadow:inset 1px 1px 10px transparent; -webkit-box-shadow:inset 1px 1px 10px transparent/*rgba(23,24,24,0.8)*/;
-ms-box-shadow:inset 1px 1px 10px transparent;
}
	.Pictre-pic img {
	border-radius:3.5px; box-shadow:1px 1px 6px rgb(18,18,18);
	max-width:190px; margin:0;
	}
		.Pictre-pic img:active {
		border:1px solid rgba(0,0,0,0.2);
		}
.Pictre-splash-wrapper {
position:fixed; top:0; left:0; width:100%; height:100%; background:url(i/splash.png); background-size:cover;
}
.Pictre-overlay {
position:fixed; top:0; right:0; left:0; bottom:0; width:100%; height:100%; background:rgba(22,24,24,0.9); overflow-x:auto; overflow-y:auto; z-index:999; display:none;
}
	.Pictre-overlay-pic {
	margin:0 auto 0 auto; text-align:center; position:relative;
	}
		.Pictre-overlay-pic-options {
		width:40px; height:40px; position:absolute; right:0; top:0; background:url(i/Pictre-sprite.png); z-index:999; background-position:4px -48px; opacity:0.6;
		}
			.Pictre-overlay-pic-options:hover {
			opacity:1.0;
			}
			.Pictre-overlay-pic-options-wrapper {
			position:absolute; top:0; right:0; min-width:100px; min-height:10px; background:rgba(255,255,255,0.8); z-index:999; border-radius:2px;
			border-top:1px solid rgba(255,255,255,0.4); padding:3px 5px 5px 5px;
			box-shadow:0 -1px 0 rgb(206,206,206); display:none;
			}
				.Pictre-overlay-pic-options-wrapper ul {
				display:block; width:100%; height:100%; color:rgb(105,105,105); text-shadow:0 1px 0 white;
				}
					.Pictre-overlay-pic-options-wrapper ul li {
					display:block; width:100%; min-height:10px; padding:4px 0 5px 0; text-align:center; cursor:pointer; border-radius:2px;
					}
						.Pictre-overlay-pic-options-wrapper ul li:hover {
						color:rgb(84,0,0);
						}
		.Pictre-overlay-pic img {
		max-width:100%; z-index:99;
		}
		.Pictre-loader {
		width:50px; height:50px; position:fixed; left:50%; top:50%; margin:-25px 0 0 -25px; background:url(i/loader.gif);
		}
		.Pictre-comments-wrapper {
		position:absolute; bottom:0; left:0; width:100%; min-height:100px; min-height:10px;
		}
			.Pictre-comment {
			width:100%; min-height:34px; border-top:1px solid rgba(49,52,52,0.6); border-bottom:0 solid rgb(0,0,0); padding:22px 0 8px 0; position:relative; font-size:0.95em;
			}
				.Pictre-comment-author {
				position:absolute; top:7px; right:2px; font-size:0.89em;
				}
			.Pictre-comment-input {
			width:100%; height:100%; padding:0; margin:0; background:transparent; font:inherit; color:inherit; display:block; border:0; text-align:center;
			}
				.Pictre-comment-input-name {
				position:absolute; right:2px; top:7px; width:auto; height:auto; text-align:right; font-size:0.89em;
				}
.Pictre-passcode-wrapper {
width:55%; max-width:480px; min-width:300px; min-height:220px; background:transparent; border-radius:3px; position:absolute; color:white; text-align:center;
border-top:0 solid rgb(130,130,130);
}
	.Pictre-passcode-p,.Pictre-passcode-wrapper p {
	width:100%; display:block; margin:0 0 22px 0; text-align:center; color:rgb(181,181,181); text-shadow:0 -1px 0 rgb(0,0,0);
	}
	.Pictre-passcode-input-wrapper {
	width:62%; position:absolute;
	}
		.Pictre-passcode-input {
		background:transparent; color:rgb(54,54,54); font:inherit; text-align:center; padding:10px 0 10px 0; border:0; display:block; border:0; width:100%; margin:0; border-radius:2px;
		border-top:1px solid rgba(105,105,105,0.3);
		}
.Pictre-upload {
margin:0 auto 0; position:absolute; left:41%; top:30%; width:700px; height:450px; text-align:center; text-shadow:0 -1px 0 rgb(0,0,0);
background:rgb(28,30,29); border-width:3px 1px 1px 1px; border-style:solid; border-color:rgb(162,168,168) rgb(34,38,38) rgb(34,38,38) rgb(34,38,38); border-radius:2px; display:table;
}
	.Pictre-upload:before {
	left:0; top:-19px; position:absolute; border-style:solid; border-width:8px; border-color:transparent rgb(85,91,91) rgb(85,91,91) transparent; content:' '; width:0; height:0;
	}
	.Pictre-upload:after {
	right:0; top:-19px; position:absolute; border-style:solid; border-width:8px; border-color:transparent transparent rgb(85,91,91) rgb(85,91,91); content:' '; width:0; height:0;
	}	
	.Pictre-upload-header {
	width:100%; min-height:10px; background:rgb(228,230,230); padding:10px 0 8px 0; border-style:solid; border-width:0 0 1px 0; border-color:rgb(160,168,168);
	font-family:'Molle'; font-style:italic; font-size:1.7em; color:rgb(28,30,29); text-shadow:0 1px 0 white;
	box-shadow:0 2px 1px rgb(24,28,28); -moz-box-shadow:0 2px 1px rgb(24,28,28); -ms-box-shadow:0 2px 1px rgb(24,28,28); -webkit-box-shadow:0 2px 1px rgb(24,28,28); -o-box-shadow:0 2px 1px rgb(24,28,28);
	}
	.Pictre-upload-area {
	width:250px; height:230px; border-radius:6px; border:3px dashed rgb(146,156,156); position:absolute; top:50%; left:50%; cursor:default;
	text-align:center; background:rgb(40,43,42); overflow-x:hidden;
	}
		.Pictre-upload-area:active {
		background:rgb(52,56,55);
		}
		.Pictre-upload-area-shader {
		position:absolute;  border:0; padding:0; left:0px; top:0; width:100%; height:100%; display:table; z-index:1;
		box-shadow:inset 2px 2px 10px rgb(3,4,4); -moz-box-shadow:inset 2px 2px 10px rgb(3,4,4); -o-box-shadow:inset 2px 2px 10px rgb(3,4,4); -webkit-box-shadow:inset 2px 2px 10px rgb(3,4,4);
		-ms-box-shadow:inset 2px 2px 10px rgb(3,4,4);
		}
			.Pictre-upload-area p {
			width:100%; padding:0 10px 0 10px; display:table-cell; vertical-align:middle; color:rgb(84,90,90); text-shadow:0 -1px 0 rgb(15,17,16); word-wrap:break-word; z-index:999;
			}
		.Pictre-upload-area-progress {
		position:absolute; left:0; top:0; width:0; height:100%; background:rgb(66,29,77); z-index:0;
		}
.Pictre-warning p {
padding:0 11% 0 11%; text-align:center; color:rgb(145,159,159); text-shadow:0 -1px 0 rgb(0,0,0);
}
	.Pictre-warning p a:hover {
	color:rgb(159,145,159);
	}
	.Pictre-warning p p {
	margin-top:15px;
	}
		.Pictre-warning p:first-child {
		margin-top:0;
		}
.Pictre-spacer {
width:100%; height:100px;
}
.top-button {
width:53px; height:50px; background:url(i/Pictre-sprite.png) no-repeat 10px center; position:absolute; top:0; margin:0 7px 0 7px; opacity:0.75;
}
	.top-button:hover {
	opacity:1.0;
	}
.vert-shader-1,.vert-shader-2 {
width:1px; height:100%; position:absolute; background:rgb(47,52,50); top:0;
}
.vert-shader-2 {
background:rgba(255,255,255,0.25);
}
.hor-shader-1,.hor-shader-2,.hor-shader-3 {
width:100%; height:1px; position:absolute; background:rgb(47,52,50); left:0;
}
.hor-shader-2 {
background:rgba(255,255,255,0.25);
}
.hor-shader-3 {
background:rgb(166,151,151);
}
.left {
left:0;
}
.right {
right:0;
}
.top {
top:0;
}
.bottom {
bottom:0;
}